<configuration>
  <config>
    <add key="dependencyVersion" value="Highest" />
    <add key="globalPackagesFolder" value="E:\Nuget\repo" />
  </config>
  <packageSources>
    <clear />    
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>